In [2]:
import pandas as pd

In [3]:
pd.read_csv('demo.csv')

  Roll_number\tname
0            1\tabc
1        107\tRudra
2       101\tAkshit
3       109\tDhaval
4      110\tVaibhav
5          111\txyz

In [4]:
a = pd.read_csv('cars_advanced.csv')

In [5]:
a

,Car,Brand,Model,Year,Engine Size,Fuel Type,Mileage (km),Price (USD),Owner Type
0,1,Toyota,Corolla,2018,1.8L,Petrol,42000.0,14500.0,First
1,2,Honda,Civic,2020,2.0L,petrol,25000.0,18000.0,First
2,3,Ford,Focus,2017,1.5L,Diesel,60000.0,12500.0,Second
3,4,Hyundai,Elantra,2019,NaN,Petrol,35000.0,16000.0,first
4,5,BMW,3 Series,2016,2.0L,diesel,70000.0,NaN,Third
5,6,Mercedes-Benz,C Class,2018,2.0L,Petrol,40000.0,28000.0,First
6,7,Tesla,Model 3,2021,Electric,electric,15000.0,35000.0,First
7,8,Kia,Optima,2017,2.4L,Petrol,50000.0,13000.0,Second
8,9,Audi,A4,2019,2.0L,Diesel,30000.0,27000.0,Second
9,10,Chevrolet,Malibu,2016,1.5L,Petrol,-500.0,11000.0,third
10,11,Honda,Civic,2020,2.0L,Petrol,25000.0,18000.0,First
11,12,Ford,Focus,2017,1.5L,Diesel,60000.0,12500.0,Second
12,13,NaN,Accord,2018,2.4L,Petrol,45000.0,19000.0,First
13,14,Toyota,Camry,2015,2.5L,Petrol,NaN,14000.0,Second
14,15,BMW,3 series,2016,2.0L,Diesel,70000.0,20000.0,third

In [6]:
a['Mileage (km)'][5] = "hello world"
a

C:\Users\Admin\AppData\Local\Temp\ipykernel_12812\1434187599.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  a['Mileage (km)'][5] = "hello world"
C:\Users\Admin\AppData\Local\Temp\ipykernel_12812\1434187599.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  a['Mileage (km)'][5] = "hello world"
C:\Users\Admin\AppData\Local\Temp\ipykernel_12812\1434187599.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'hello world' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  a['Mileage (km)'][5] = "hello world"

,Car,Brand,Model,Year,Engine Size,Fuel Type,Mileage (km),Price (USD),Owner Type
0,1,Toyota,Corolla,2018,1.8L,Petrol,42000.0,14500.0,First
1,2,Honda,Civic,2020,2.0L,petrol,25000.0,18000.0,First
2,3,Ford,Focus,2017,1.5L,Diesel,60000.0,12500.0,Second
3,4,Hyundai,Elantra,2019,NaN,Petrol,35000.0,16000.0,first
4,5,BMW,3 Series,2016,2.0L,diesel,70000.0,NaN,Third
5,6,Mercedes-Benz,C Class,2018,2.0L,Petrol,hello world,28000.0,First
6,7,Tesla,Model 3,2021,Electric,electric,15000.0,35000.0,First
7,8,Kia,Optima,2017,2.4L,Petrol,50000.0,13000.0,Second
8,9,Audi,A4,2019,2.0L,Diesel,30000.0,27000.0,Second
9,10,Chevrolet,Malibu,2016,1.5L,Petrol,-500.0,11000.0,third
10,11,Honda,Civic,2020,2.0L,Petrol,25000.0,18000.0,First
11,12,Ford,Focus,2017,1.5L,Diesel,60000.0,12500.0,Second
12,13,NaN,Accord,2018,2.4L,Petrol,45000.0,19000.0,First
13,14,Toyota,Camry,2015,2.5L,Petrol,NaN,14000.0,Second
14,15,BMW,3 series,2016,2.0L,Diesel,70000.0,20000.0,third

In [7]:
a['Mileage (km)'] = pd.to_numeric(a['Mileage (km)'], errors='coerce', downcast='integer')

In [8]:
a

,Car,Brand,Model,Year,Engine Size,Fuel Type,Mileage (km),Price (USD),Owner Type
0,1,Toyota,Corolla,2018,1.8L,Petrol,42000.0,14500.0,First
1,2,Honda,Civic,2020,2.0L,petrol,25000.0,18000.0,First
2,3,Ford,Focus,2017,1.5L,Diesel,60000.0,12500.0,Second
3,4,Hyundai,Elantra,2019,NaN,Petrol,35000.0,16000.0,first
4,5,BMW,3 Series,2016,2.0L,diesel,70000.0,NaN,Third
5,6,Mercedes-Benz,C Class,2018,2.0L,Petrol,NaN,28000.0,First
6,7,Tesla,Model 3,2021,Electric,electric,15000.0,35000.0,First
7,8,Kia,Optima,2017,2.4L,Petrol,50000.0,13000.0,Second
8,9,Audi,A4,2019,2.0L,Diesel,30000.0,27000.0,Second
9,10,Chevrolet,Malibu,2016,1.5L,Petrol,-500.0,11000.0,third
10,11,Honda,Civic,2020,2.0L,Petrol,25000.0,18000.0,First
11,12,Ford,Focus,2017,1.5L,Diesel,60000.0,12500.0,Second
12,13,NaN,Accord,2018,2.4L,Petrol,45000.0,19000.0,First
13,14,Toyota,Camry,2015,2.5L,Petrol,NaN,14000.0,Second
14,15,BMW,3 series,2016,2.0L,Diesel,70000.0,20000.0,third

In [9]:
AVG = a['Mileage (km)'].mean()
a.fillna({"Mileage (km)" : AVG},inplace=True)

In [10]:
a['Engine Size'] = a['Engine Size'].replace("[$L]","",regex=True)

In [11]:
a['Engine Size'].dtype

dtype('O')

In [12]:
a['Engine Size'] = pd.to_numeric(a['Engine Size'], errors='coerce', downcast='integer')

In [13]:
a

,Car,Brand,Model,Year,Engine Size,Fuel Type,Mileage (km),Price (USD),Owner Type
0,1,Toyota,Corolla,2018,1.8,Petrol,42000.0,14500.0,First
1,2,Honda,Civic,2020,2.0,petrol,25000.0,18000.0,First
2,3,Ford,Focus,2017,1.5,Diesel,60000.0,12500.0,Second
3,4,Hyundai,Elantra,2019,NaN,Petrol,35000.0,16000.0,first
4,5,BMW,3 Series,2016,2.0,diesel,70000.0,NaN,Third
5,6,Mercedes-Benz,C Class,2018,2.0,Petrol,40500.0,28000.0,First
6,7,Tesla,Model 3,2021,NaN,electric,15000.0,35000.0,First
7,8,Kia,Optima,2017,2.4,Petrol,50000.0,13000.0,Second
8,9,Audi,A4,2019,2.0,Diesel,30000.0,27000.0,Second
9,10,Chevrolet,Malibu,2016,1.5,Petrol,-500.0,11000.0,third
10,11,Honda,Civic,2020,2.0,Petrol,25000.0,18000.0,First
11,12,Ford,Focus,2017,1.5,Diesel,60000.0,12500.0,Second
12,13,NaN,Accord,2018,2.4,Petrol,45000.0,19000.0,First
13,14,Toyota,Camry,2015,2.5,Petrol,40500.0,14000.0,Second
14,15,BMW,3 series,2016,2.0,Diesel,70000.0,20000.0,third

In [14]:
a['Engine Size'].dtype

dtype('float64')

In [15]:
a

,Car,Brand,Model,Year,Engine Size,Fuel Type,Mileage (km),Price (USD),Owner Type
0,1,Toyota,Corolla,2018,1.8,Petrol,42000.0,14500.0,First
1,2,Honda,Civic,2020,2.0,petrol,25000.0,18000.0,First
2,3,Ford,Focus,2017,1.5,Diesel,60000.0,12500.0,Second
3,4,Hyundai,Elantra,2019,NaN,Petrol,35000.0,16000.0,first
4,5,BMW,3 Series,2016,2.0,diesel,70000.0,NaN,Third
5,6,Mercedes-Benz,C Class,2018,2.0,Petrol,40500.0,28000.0,First
6,7,Tesla,Model 3,2021,NaN,electric,15000.0,35000.0,First
7,8,Kia,Optima,2017,2.4,Petrol,50000.0,13000.0,Second
8,9,Audi,A4,2019,2.0,Diesel,30000.0,27000.0,Second
9,10,Chevrolet,Malibu,2016,1.5,Petrol,-500.0,11000.0,third
10,11,Honda,Civic,2020,2.0,Petrol,25000.0,18000.0,First
11,12,Ford,Focus,2017,1.5,Diesel,60000.0,12500.0,Second
12,13,NaN,Accord,2018,2.4,Petrol,45000.0,19000.0,First
13,14,Toyota,Camry,2015,2.5,Petrol,40500.0,14000.0,Second
14,15,BMW,3 series,2016,2.0,Diesel,70000.0,20000.0,third

In [16]:
print(type(a['Engine Size'][3]))

<class 'numpy.float64'>

In [17]:
a['Engine Size'].dropna(inplace = True)

In [18]:
a

,Car,Brand,Model,Year,Engine Size,Fuel Type,Mileage (km),Price (USD),Owner Type
0,1,Toyota,Corolla,2018,1.8,Petrol,42000.0,14500.0,First
1,2,Honda,Civic,2020,2.0,petrol,25000.0,18000.0,First
2,3,Ford,Focus,2017,1.5,Diesel,60000.0,12500.0,Second
3,4,Hyundai,Elantra,2019,NaN,Petrol,35000.0,16000.0,first
4,5,BMW,3 Series,2016,2.0,diesel,70000.0,NaN,Third
5,6,Mercedes-Benz,C Class,2018,2.0,Petrol,40500.0,28000.0,First
6,7,Tesla,Model 3,2021,NaN,electric,15000.0,35000.0,First
7,8,Kia,Optima,2017,2.4,Petrol,50000.0,13000.0,Second
8,9,Audi,A4,2019,2.0,Diesel,30000.0,27000.0,Second
9,10,Chevrolet,Malibu,2016,1.5,Petrol,-500.0,11000.0,third
10,11,Honda,Civic,2020,2.0,Petrol,25000.0,18000.0,First
11,12,Ford,Focus,2017,1.5,Diesel,60000.0,12500.0,Second
12,13,NaN,Accord,2018,2.4,Petrol,45000.0,19000.0,First
13,14,Toyota,Camry,2015,2.5,Petrol,40500.0,14000.0,Second
14,15,BMW,3 series,2016,2.0,Diesel,70000.0,20000.0,third

In [19]:
df = pd.read_csv('cars_advanced.csv')

In [20]:
df

,Car,Brand,Model,Year,Engine Size,Fuel Type,Mileage (km),Price (USD),Owner Type
0,1,Toyota,Corolla,2018,1.8L,Petrol,42000.0,14500.0,First
1,2,Honda,Civic,2020,2.0L,petrol,25000.0,18000.0,First
2,3,Ford,Focus,2017,1.5L,Diesel,60000.0,12500.0,Second
3,4,Hyundai,Elantra,2019,NaN,Petrol,35000.0,16000.0,first
4,5,BMW,3 Series,2016,2.0L,diesel,70000.0,NaN,Third
5,6,Mercedes-Benz,C Class,2018,2.0L,Petrol,40000.0,28000.0,First
6,7,Tesla,Model 3,2021,Electric,electric,15000.0,35000.0,First
7,8,Kia,Optima,2017,2.4L,Petrol,50000.0,13000.0,Second
8,9,Audi,A4,2019,2.0L,Diesel,30000.0,27000.0,Second
9,10,Chevrolet,Malibu,2016,1.5L,Petrol,-500.0,11000.0,third
10,11,Honda,Civic,2020,2.0L,Petrol,25000.0,18000.0,First
11,12,Ford,Focus,2017,1.5L,Diesel,60000.0,12500.0,Second
12,13,NaN,Accord,2018,2.4L,Petrol,45000.0,19000.0,First
13,14,Toyota,Camry,2015,2.5L,Petrol,NaN,14000.0,Second
14,15,BMW,3 series,2016,2.0L,Diesel,70000.0,20000.0,third

In [21]:
df[df['Fuel Type'] == 'Petrol']

,Car,Brand,Model,Year,Engine Size,Fuel Type,Mileage (km),Price (USD),Owner Type
0,1,Toyota,Corolla,2018,1.8L,Petrol,42000.0,14500.0,First
3,4,Hyundai,Elantra,2019,NaN,Petrol,35000.0,16000.0,first
5,6,Mercedes-Benz,C Class,2018,2.0L,Petrol,40000.0,28000.0,First
7,8,Kia,Optima,2017,2.4L,Petrol,50000.0,13000.0,Second
9,10,Chevrolet,Malibu,2016,1.5L,Petrol,-500.0,11000.0,third
10,11,Honda,Civic,2020,2.0L,Petrol,25000.0,18000.0,First
12,13,NaN,Accord,2018,2.4L,Petrol,45000.0,19000.0,First
13,14,Toyota,Camry,2015,2.5L,Petrol,NaN,14000.0,Second

In [22]:
df[(df['Fuel Type'] == 'Petrol') & (df['Price (USD)'] > 18000)]

,Car,Brand,Model,Year,Engine Size,Fuel Type,Mileage (km),Price (USD),Owner Type
5,6,Mercedes-Benz,C Class,2018,2.0L,Petrol,40000.0,28000.0,First
12,13,NaN,Accord,2018,2.4L,Petrol,45000.0,19000.0,First

In [23]:
df[df['Year'].isin([2018,2020,2022])]

,Car,Brand,Model,Year,Engine Size,Fuel Type,Mileage (km),Price (USD),Owner Type
0,1,Toyota,Corolla,2018,1.8L,Petrol,42000.0,14500.0,First
1,2,Honda,Civic,2020,2.0L,petrol,25000.0,18000.0,First
5,6,Mercedes-Benz,C Class,2018,2.0L,Petrol,40000.0,28000.0,First
10,11,Honda,Civic,2020,2.0L,Petrol,25000.0,18000.0,First
12,13,NaN,Accord,2018,2.4L,Petrol,45000.0,19000.0,First

In [24]:
df[df['Price (USD)'].isnull()]

,Car,Brand,Model,Year,Engine Size,Fuel Type,Mileage (km),Price (USD),Owner Type
4,5,BMW,3 Series,2016,2.0L,diesel,70000.0,NaN,Third

In [25]:
df

,Car,Brand,Model,Year,Engine Size,Fuel Type,Mileage (km),Price (USD),Owner Type
0,1,Toyota,Corolla,2018,1.8L,Petrol,42000.0,14500.0,First
1,2,Honda,Civic,2020,2.0L,petrol,25000.0,18000.0,First
2,3,Ford,Focus,2017,1.5L,Diesel,60000.0,12500.0,Second
3,4,Hyundai,Elantra,2019,NaN,Petrol,35000.0,16000.0,first
4,5,BMW,3 Series,2016,2.0L,diesel,70000.0,NaN,Third
5,6,Mercedes-Benz,C Class,2018,2.0L,Petrol,40000.0,28000.0,First
6,7,Tesla,Model 3,2021,Electric,electric,15000.0,35000.0,First
7,8,Kia,Optima,2017,2.4L,Petrol,50000.0,13000.0,Second
8,9,Audi,A4,2019,2.0L,Diesel,30000.0,27000.0,Second
9,10,Chevrolet,Malibu,2016,1.5L,Petrol,-500.0,11000.0,third
10,11,Honda,Civic,2020,2.0L,Petrol,25000.0,18000.0,First
11,12,Ford,Focus,2017,1.5L,Diesel,60000.0,12500.0,Second
12,13,NaN,Accord,2018,2.4L,Petrol,45000.0,19000.0,First
13,14,Toyota,Camry,2015,2.5L,Petrol,NaN,14000.0,Second
14,15,BMW,3 series,2016,2.0L,Diesel,70000.0,20000.0,third

In [26]:
df.dropna(axis=1)

    Car     Model  Year Fuel Type Owner Type
0     1   Corolla  2018    Petrol      First
1     2     Civic  2020    petrol      First
2     3     Focus  2017    Diesel     Second
3     4   Elantra  2019    Petrol      first
4     5  3 Series  2016    diesel      Third
5     6   C Class  2018    Petrol      First
6     7   Model 3  2021  electric      First
7     8    Optima  2017    Petrol     Second
8     9        A4  2019    Diesel     Second
9    10    Malibu  2016    Petrol      third
10   11     Civic  2020    Petrol      First
11   12     Focus  2017    Diesel     Second
12   13    Accord  2018    Petrol      First
13   14     Camry  2015    Petrol     Second
14   15  3 series  2016    Diesel      third

In [27]:
df

,Car,Brand,Model,Year,Engine Size,Fuel Type,Mileage (km),Price (USD),Owner Type
0,1,Toyota,Corolla,2018,1.8L,Petrol,42000.0,14500.0,First
1,2,Honda,Civic,2020,2.0L,petrol,25000.0,18000.0,First
2,3,Ford,Focus,2017,1.5L,Diesel,60000.0,12500.0,Second
3,4,Hyundai,Elantra,2019,NaN,Petrol,35000.0,16000.0,first
4,5,BMW,3 Series,2016,2.0L,diesel,70000.0,NaN,Third
5,6,Mercedes-Benz,C Class,2018,2.0L,Petrol,40000.0,28000.0,First
6,7,Tesla,Model 3,2021,Electric,electric,15000.0,35000.0,First
7,8,Kia,Optima,2017,2.4L,Petrol,50000.0,13000.0,Second
8,9,Audi,A4,2019,2.0L,Diesel,30000.0,27000.0,Second
9,10,Chevrolet,Malibu,2016,1.5L,Petrol,-500.0,11000.0,third
10,11,Honda,Civic,2020,2.0L,Petrol,25000.0,18000.0,First
11,12,Ford,Focus,2017,1.5L,Diesel,60000.0,12500.0,Second
12,13,NaN,Accord,2018,2.4L,Petrol,45000.0,19000.0,First
13,14,Toyota,Camry,2015,2.5L,Petrol,NaN,14000.0,Second
14,15,BMW,3 series,2016,2.0L,Diesel,70000.0,20000.0,third

In [28]:
df['Price (USD)'].fillna(df['Price (USD)'].mean(),inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_12812\3739278877.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Price (USD)'].fillna(df['Price (USD)'].mean(),inplace=True)

In [29]:
df

,Car,Brand,Model,Year,Engine Size,Fuel Type,Mileage (km),Price (USD),Owner Type
0,1,Toyota,Corolla,2018,1.8L,Petrol,42000.0,14500.000000,First
1,2,Honda,Civic,2020,2.0L,petrol,25000.0,18000.000000,First
2,3,Ford,Focus,2017,1.5L,Diesel,60000.0,12500.000000,Second
3,4,Hyundai,Elantra,2019,NaN,Petrol,35000.0,16000.000000,first
4,5,BMW,3 Series,2016,2.0L,diesel,70000.0,18464.285714,Third
5,6,Mercedes-Benz,C Class,2018,2.0L,Petrol,40000.0,28000.000000,First
6,7,Tesla,Model 3,2021,Electric,electric,15000.0,35000.000000,First
7,8,Kia,Optima,2017,2.4L,Petrol,50000.0,13000.000000,Second
8,9,Audi,A4,2019,2.0L,Diesel,30000.0,27000.000000,Second
9,10,Chevrolet,Malibu,2016,1.5L,Petrol,-500.0,11000.000000,third
10,11,Honda,Civic,2020,2.0L,Petrol,25000.0,18000.000000,First
11,12,Ford,Focus,2017,1.5L,Diesel,60000.0,12500.000000,Second
12,13,NaN,Accord,2018,2.4L,Petrol,45000.0,19000.000000,First
13,14,Toyota,Camry,2015,2.5L,Petrol,NaN,14000.000000,Second
14,15,BMW,3 series,2016,2.0L,Diesel,70000.0,20000.000000,third

In [30]:
df['Mileage (km)'].fillna(df['Mileage (km)'].mean(),inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_12812\374090802.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Mileage (km)'].fillna(df['Mileage (km)'].mean(),inplace=True)

In [31]:
df

,Car,Brand,Model,Year,Engine Size,Fuel Type,Mileage (km),Price (USD),Owner Type
0,1,Toyota,Corolla,2018,1.8L,Petrol,42000.000000,14500.000000,First
1,2,Honda,Civic,2020,2.0L,petrol,25000.000000,18000.000000,First
2,3,Ford,Focus,2017,1.5L,Diesel,60000.000000,12500.000000,Second
3,4,Hyundai,Elantra,2019,NaN,Petrol,35000.000000,16000.000000,first
4,5,BMW,3 Series,2016,2.0L,diesel,70000.000000,18464.285714,Third
5,6,Mercedes-Benz,C Class,2018,2.0L,Petrol,40000.000000,28000.000000,First
6,7,Tesla,Model 3,2021,Electric,electric,15000.000000,35000.000000,First
7,8,Kia,Optima,2017,2.4L,Petrol,50000.000000,13000.000000,Second
8,9,Audi,A4,2019,2.0L,Diesel,30000.000000,27000.000000,Second
9,10,Chevrolet,Malibu,2016,1.5L,Petrol,-500.000000,11000.000000,third
10,11,Honda,Civic,2020,2.0L,Petrol,25000.000000,18000.000000,First
11,12,Ford,Focus,2017,1.5L,Diesel,60000.000000,12500.000000,Second
12,13,NaN,Accord,2018,2.4L,Petrol,45000.000000,19000.000000,First
13,14,Toyota,Camry,2015,2.5L,Petrol,40464.285714,14000.000000,Second
14,15,BMW,3 series,2016,2.0L,Diesel,70000.000000,20000.000000,third

In [32]:
df['Engine Size'] = df['Engine Size'].replace("[$L]","",regex=True)

In [33]:
df

,Car,Brand,Model,Year,Engine Size,Fuel Type,Mileage (km),Price (USD),Owner Type
0,1,Toyota,Corolla,2018,1.8,Petrol,42000.000000,14500.000000,First
1,2,Honda,Civic,2020,2.0,petrol,25000.000000,18000.000000,First
2,3,Ford,Focus,2017,1.5,Diesel,60000.000000,12500.000000,Second
3,4,Hyundai,Elantra,2019,NaN,Petrol,35000.000000,16000.000000,first
4,5,BMW,3 Series,2016,2.0,diesel,70000.000000,18464.285714,Third
5,6,Mercedes-Benz,C Class,2018,2.0,Petrol,40000.000000,28000.000000,First
6,7,Tesla,Model 3,2021,Electric,electric,15000.000000,35000.000000,First
7,8,Kia,Optima,2017,2.4,Petrol,50000.000000,13000.000000,Second
8,9,Audi,A4,2019,2.0,Diesel,30000.000000,27000.000000,Second
9,10,Chevrolet,Malibu,2016,1.5,Petrol,-500.000000,11000.000000,third
10,11,Honda,Civic,2020,2.0,Petrol,25000.000000,18000.000000,First
11,12,Ford,Focus,2017,1.5,Diesel,60000.000000,12500.000000,Second
12,13,NaN,Accord,2018,2.4,Petrol,45000.000000,19000.000000,First
13,14,Toyota,Camry,2015,2.5,Petrol,40464.285714,14000.000000,Second
14,15,BMW,3 series,2016,2.0,Diesel,70000.000000,20000.000000,third

In [34]:
df[df['Engine Size'].isnull()]

,Car,Brand,Model,Year,Engine Size,Fuel Type,Mileage (km),Price (USD),Owner Type
3,4,Hyundai,Elantra,2019,NaN,Petrol,35000.0,16000.0,first

In [35]:
df['Engine Size'] = pd.to_numeric(df['Engine Size'], errors='coerce', downcast='integer')

In [36]:
midian_value = df['Engine Size'].median()
df.fillna({"Engine Size":midian_value},inplace=True)

In [37]:
df

,Car,Brand,Model,Year,Engine Size,Fuel Type,Mileage (km),Price (USD),Owner Type
0,1,Toyota,Corolla,2018,1.8,Petrol,42000.000000,14500.000000,First
1,2,Honda,Civic,2020,2.0,petrol,25000.000000,18000.000000,First
2,3,Ford,Focus,2017,1.5,Diesel,60000.000000,12500.000000,Second
3,4,Hyundai,Elantra,2019,2.0,Petrol,35000.000000,16000.000000,first
4,5,BMW,3 Series,2016,2.0,diesel,70000.000000,18464.285714,Third
5,6,Mercedes-Benz,C Class,2018,2.0,Petrol,40000.000000,28000.000000,First
6,7,Tesla,Model 3,2021,2.0,electric,15000.000000,35000.000000,First
7,8,Kia,Optima,2017,2.4,Petrol,50000.000000,13000.000000,Second
8,9,Audi,A4,2019,2.0,Diesel,30000.000000,27000.000000,Second
9,10,Chevrolet,Malibu,2016,1.5,Petrol,-500.000000,11000.000000,third
10,11,Honda,Civic,2020,2.0,Petrol,25000.000000,18000.000000,First
11,12,Ford,Focus,2017,1.5,Diesel,60000.000000,12500.000000,Second
12,13,NaN,Accord,2018,2.4,Petrol,45000.000000,19000.000000,First
13,14,Toyota,Camry,2015,2.5,Petrol,40464.285714,14000.000000,Second
14,15,BMW,3 series,2016,2.0,Diesel,70000.000000,20000.000000,third

In [38]:
df['Owner Type'].replace({"first":"First","third":"Third"})

0      First
1      First
2     Second
3      First
4      Third
5      First
6      First
7     Second
8     Second
9      Third
10     First
11    Second
12     First
13    Second
14     Third
Name: Owner Type, dtype: object

In [39]:
df['Owner Type'] = df['Owner Type'].replace({"first":"First","third":"Third"})

In [40]:
df['Mileage (km)'].fillna(df['Mileage (km)'].mean(),inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_12812\374090802.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Mileage (km)'].fillna(df['Mileage (km)'].mean(),inplace=True)

In [41]:
df

,Car,Brand,Model,Year,Engine Size,Fuel Type,Mileage (km),Price (USD),Owner Type
0,1,Toyota,Corolla,2018,1.8,Petrol,42000.000000,14500.000000,First
1,2,Honda,Civic,2020,2.0,petrol,25000.000000,18000.000000,First
2,3,Ford,Focus,2017,1.5,Diesel,60000.000000,12500.000000,Second
3,4,Hyundai,Elantra,2019,2.0,Petrol,35000.000000,16000.000000,First
4,5,BMW,3 Series,2016,2.0,diesel,70000.000000,18464.285714,Third
5,6,Mercedes-Benz,C Class,2018,2.0,Petrol,40000.000000,28000.000000,First
6,7,Tesla,Model 3,2021,2.0,electric,15000.000000,35000.000000,First
7,8,Kia,Optima,2017,2.4,Petrol,50000.000000,13000.000000,Second
8,9,Audi,A4,2019,2.0,Diesel,30000.000000,27000.000000,Second
9,10,Chevrolet,Malibu,2016,1.5,Petrol,-500.000000,11000.000000,Third
10,11,Honda,Civic,2020,2.0,Petrol,25000.000000,18000.000000,First
11,12,Ford,Focus,2017,1.5,Diesel,60000.000000,12500.000000,Second
12,13,NaN,Accord,2018,2.4,Petrol,45000.000000,19000.000000,First
13,14,Toyota,Camry,2015,2.5,Petrol,40464.285714,14000.000000,Second
14,15,BMW,3 series,2016,2.0,Diesel,70000.000000,20000.000000,Third

In [42]:
df['Mileage (km)'][9] = df['Mileage (km)'].median()

C:\Users\Admin\AppData\Local\Temp\ipykernel_12812\2177309858.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['Mileage (km)'][9] = df['Mileage (km)'].median()
C:\Users\Admin\AppData\Local\Temp\ipykernel_12812\2177309858.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Mileage (km)'][9] = df['Mileage (km)'].median()

In [43]:
df

,Car,Brand,Model,Year,Engine Size,Fuel Type,Mileage (km),Price (USD),Owner Type
0,1,Toyota,Corolla,2018,1.8,Petrol,42000.000000,14500.000000,First
1,2,Honda,Civic,2020,2.0,petrol,25000.000000,18000.000000,First
2,3,Ford,Focus,2017,1.5,Diesel,60000.000000,12500.000000,Second
3,4,Hyundai,Elantra,2019,2.0,Petrol,35000.000000,16000.000000,First
4,5,BMW,3 Series,2016,2.0,diesel,70000.000000,18464.285714,Third
5,6,Mercedes-Benz,C Class,2018,2.0,Petrol,40000.000000,28000.000000,First
6,7,Tesla,Model 3,2021,2.0,electric,15000.000000,35000.000000,First
7,8,Kia,Optima,2017,2.4,Petrol,50000.000000,13000.000000,Second
8,9,Audi,A4,2019,2.0,Diesel,30000.000000,27000.000000,Second
9,10,Chevrolet,Malibu,2016,1.5,Petrol,40464.285714,11000.000000,Third
10,11,Honda,Civic,2020,2.0,Petrol,25000.000000,18000.000000,First
11,12,Ford,Focus,2017,1.5,Diesel,60000.000000,12500.000000,Second
12,13,NaN,Accord,2018,2.4,Petrol,45000.000000,19000.000000,First
13,14,Toyota,Camry,2015,2.5,Petrol,40464.285714,14000.000000,Second
14,15,BMW,3 series,2016,2.0,Diesel,70000.000000,20000.000000,Third

In [52]:
df = df.rename(columns={'Price (USD)': 'Price','Mileage (km)':'Mileage'})

In [53]:
df

,Car,Brand,Model,Year,Engine Size,Fuel Type,Mileage,Price,Owner Type
0,1,Toyota,Corolla,2018,1.8,Petrol,42000.000000,14500.000000,First
1,2,Honda,Civic,2020,2.0,petrol,25000.000000,18000.000000,First
2,3,Ford,Focus,2017,1.5,Diesel,60000.000000,12500.000000,Second
3,4,Hyundai,Elantra,2019,2.0,Petrol,35000.000000,16000.000000,First
4,5,BMW,3 Series,2016,2.0,diesel,70000.000000,18464.285714,Third
5,6,Mercedes-Benz,C Class,2018,2.0,Petrol,40000.000000,28000.000000,First
6,7,Tesla,Model 3,2021,2.0,electric,15000.000000,35000.000000,First
7,8,Kia,Optima,2017,2.4,Petrol,50000.000000,13000.000000,Second
8,9,Audi,A4,2019,2.0,Diesel,30000.000000,27000.000000,Second
9,10,Chevrolet,Malibu,2016,1.5,Petrol,40464.285714,11000.000000,Third
10,11,Honda,Civic,2020,2.0,Petrol,25000.000000,18000.000000,First
11,12,Ford,Focus,2017,1.5,Diesel,60000.000000,12500.000000,Second
12,13,NaN,Accord,2018,2.4,Petrol,45000.000000,19000.000000,First
13,14,Toyota,Camry,2015,2.5,Petrol,40464.285714,14000.000000,Second
14,15,BMW,3 series,2016,2.0,Diesel,70000.000000,20000.000000,Third